<h1> All Posts </h1>

<% @posts.each do |post| %>
  <div>
    <h2>
      <%= link_to post.title, post %>
    </h2>
    <p>
      <%= truncate(post.body, length:50) %> 
    <p>
    <p>
      <%= time_ago_in_words(post.created_at) %> ago
    <p>
  </div>
<% end %>

